<?xml version="1.0"?>

<!--
/*
Melissa Data Plugin for Magento: Config XML Library
Author: 		Sebastian Enger, M.Sc. //"Liebe besiegt Alles".
Contact:		Sebastian.Enger@MelissaData.com
Phone: 			+49 30 80 933 178-2 
Last Modified: 	2016-08-02//10:30pm
*/
-->

<config>
     <modules>
        <Melissa_Plugin>
         <version>1.1.9</version>
          <depends>
            <!-- no dependencies -->
            </depends>
        </Melissa_Plugin>
     </modules>
	<default>
		<catalog>
			<backend>                
				<version>1.1.9</version>
				<gaws>1</gaws>       
				<gee>1</gee>
				<email>1</email>
				<customerid></customerid>
			<!--	
				<singlelinecountries>US,AU,NL,UK,GB</singlelinecountries>
				<phone>0</phone>                      
				<info>1.1</info>				
			-->
				<singlelinecountries></singlelinecountries>
				<gee_use_single>1</gee_use_single>
				<gee_use_multi>1</gee_use_multi>
			</backend>      
		</catalog>
	</default>
	 <global>
        <models>
            <mymodule>
                <class>Melissa_Plugin_Helper</class>
            </mymodule>
        </models>
        <helpers>
            <mymodule>
                <class>Melissa_Plugin_Helper</class>
            </mymodule>
        </helpers>
        <resources />
        <extraconfig />
        <blocks />
    </global>
 <!--   
	<global>
        <models>
            <mymodule>
                <class>Melissa_Plugin_Helper</class>
            </mymodule>
        </models>
        <helpers>
            <mymodule>
                <class>Melissa_Plugin_Helper</class>
            </mymodule>
        </helpers>
     </global>
 -->    
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<melissa>
											<title>Melissa - All</title>
										</melissa>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>
