<?xml version="1.0" encoding="UTF-8"?>
<!--
/*
Melissa Data Plugin for Magento: System XML Library
Author: 		Sebastian Enger, M.Sc. //"Liebe besiegt Alles".
Contact:		Sebastian.Enger@MelissaData.com
Phone: 			+49 30 80 933 178-2 
Last Modified: 	2016-08-17//11:30pm
*/
-->
<config>
    <tabs>
		<!--
		Hint: the module:Missinglobaladdress causes an error
		<melissa translate="label" module="melissaglobaladdress">
				<label><![CDATA[<img style="margin: 4px 4px 4px 0px;" src="https://www.melissadata.de/images/melissa-data-logo.gif" alt="Melissa Data" border="0" />]]></label>
			<sort_order>12</sort_order>
		</melissa>
		-->
	</tabs>
    <sections>
        <catalog>
            <groups>
                <backend translate="label">
                    <label>Melissa Data Magento Plugin</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <info>
							<label>Version</label>
							<frontend_type>text</frontend_type>
							<sort_order>0</sort_order>
							<show_in_default>1</show_in_default>
							<frontend_model>Melissa_Plugin_Block_Adminhtml_Version</frontend_model>
						</info>
                         <customerid translate="label">
                            <label>Melissa Data License:</label>
                            <comment>Please enter your Melissa Data Customer ID.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </customerid>
                       
                        <gaws translate="label">
								<label>Global Address:</label>
								<comment>Enable or disable Global Address Verification.</comment>
								<frontend_type>select</frontend_type>
								<sort_order>2</sort_order>
								<show_in_default>1</show_in_default>
								<show_in_website>1</show_in_website>
								<show_in_store>1</show_in_store>
								<source_model>adminhtml/system_config_source_yesno</source_model>
						</gaws>
						 <gee translate="label">
                            <label>Global Express Entry:</label>
                            <comment>Enable or disable Global Address Autocompletion.</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </gee>
               
                      
                         <gee_use_single translate="label">
                            <label>Global Express Entry (Single Row):</label>
                            <comment>Enable or disable Global Address Autocompletion with single line input.</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </gee_use_single>
                           
                         <gee_use_multi translate="label">
                            <label>Global Express Entry (Fielded):</label>
                            <comment>Enable or disable Global Address Autocompletion with fielded input.</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </gee_use_multi>
               
               <!--    
                        <singlelinecountries translate="label comment">
                            <label>Countries that prefer Single Address Entry:</label>
                            <comment>Enterthose countries (only ISO-2 Codes).</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </singlelinecountries>
               -->
                                                
                        <email translate="label">
                            <label>Global Email:</label>
                            <comment>Enable or disable Global Email Validation.</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </email>
                  <!--    
                        <phone translate="label">
                            <label>Use Phone Verification: </label>
                            <comment>Enable Phone Validation on Checkout.</comment>
                            <frontend_type>select</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </phone>
                   --> 
                      </fields>
                 </backend>              
            </groups>
        </catalog>
    </sections>
</config>
